.container{
    display: flex;
    margin:auto;
    width: 17%;
    justify-content: space-around;
}
.container input{
    border-radius: 5px;
    height: 30px;
}
.container button{
    height: 30px;
    background-color: rgb(149, 199, 243);
    border-radius: 5px;
    color: rgb(29, 26, 26);
}